/* common css start  */
:root{
    --primary-color:#FFCC00;
    --secoundry-color:#353535;
    --third-color:#7A7A7A;
    --primary-font: 'Poppins', sans-serif;
    --secoundry-ront:'PT Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--primary-font);
}
.container{
    width: 1110px; ;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2{
    font-family: var(--secoundry-ront);
}
.w-100{
    width: 100%;
}
.d-block{
    display: block;
}
/* common css end  */

/* navigation section css start  */
#navigation{
    padding-top: 13px;
}
    #navigation div.row{
        justify-content: space-between;
        align-items: center;
    }
    #navigation ul li a{
       display: block;
       font-size: 15px;
       font-weight: 500;
       color: var(--secoundry-color);
       padding: 14px 23px;
       position: relative;
    }
    #navigation ul li a::after{
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        right: 0;
        background-color: var(--secoundry-color);
        transition: .7s;
    }
    #navigation ul li:hover a::after{
        width: 100%;
        left: 0;

    }
 
/* navigation section css end  */

/* uiux section css start  */
    #uiux{
        padding-top:68px ;
    }
    #uiux h4{
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        color: var(--secoundry-color);
        margin-bottom:20px ;
    }
    #uiux h1{   
    font-family:var(--secoundry-ront);
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    margin-bottom: 30px;
    }
    #uiux .uiux_info{
        width: 60%;
    }
    #uiux .uiux_info p{
        font-weight: 400;
        font-size: 20px;
        line-height: 190%;
        margin-bottom: 30px;
    }
    #uiux .uiux_info a{
        font-size: 20px;
        font-weight: 600;
    }
    #uiux .uiux_info .talk{
        margin-bottom: 35px;
    }
    #uiux .uiux_info .talk a{
        display:inline-block;
        margin-right: 35px;
        border: 1px solid #000000;
        padding: 15px 40px;
        color: var(--secoundry-color);
        border-radius: 10px;
        transition: .7s;
    }
    #uiux .uiux_info .talk a:hover{
        background-color: var(--primary-color);
        border: 1px solid #0D99FF;
        color: #ffffff;
    }
    #uiux .uiux_info .download a{
        display:inline-block;
        margin-right: 35px;
        border: 1px solid #000000;
        padding: 15px 40px;
        color: var(--secoundry-color);
        border-radius: 10px;
        transition: .7s;
    }
    #uiux .uiux_info .download a:hover{
        background-color: var(--primary-color);
        border: 1px solid #0D99FF;
        color: #ffffff;
    }
    #uiux .uiux_info .fm.row{
        align-items: center;
    }
    #uiux .uiux_info .fm p{
        padding-top: 20px;
        margin-right: 15px;
    }
    #uiux .uiux_info .fm_icon a{
        display:inline-block;
        margin: 0 15px;
        width: 50px;
        height: 50px;
        background: #F4F3F3;
        color: #000000;
        font-size: 20px;
        /* padding: 15px; */
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        transition: .7s;
    }
    #uiux .uiux_info .fm_icon a:hover{
        background-color: var(--primary-color);
        color: #ffffff;
    }

    #uiux .uiux_img{
        width: 40%;
        position: relative;
        
    }
    #uiux .uiux_img > img{
        transform: translateX(90px);
    }
    #uiux .uiux_img .bio{
        position: absolute;
        bottom: 28px;
        left:27px;
        width: 155Px;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
        border-radius: 16px;
    }
    #uiux .uiux_img .bio h4{
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
       color: var(--secoundry-color);
       /* text-align: center; */
    }
    #uiux .uiux_img .bio p{
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        color: var(--third-color);
        padding-bottom: 26px;
    }
    #uiux .uiux_img .bio h5{
        font-family: var(--secoundry-ront);
        font-size: 12px;
        line-height: 16px;
        color: var(--secoundry-color);
    }
    #uiux .uiux_img .ui_desinger{
        position: absolute;
        top: 114px;
        left: 101px;
    }
    #uiux .uiux_img .ui_desinger::after{
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8D3A;
    }
    #uiux .uiux_img .ui_desinger p{
        font-size: 12px;
        line-height: 18px;
        color: var(--third-color);
    }
    #uiux .uiux_img .user_research{
        position: absolute;
        top: 48px;
        right: -141px;
        
    }
    #uiux .uiux_img .user_research span{
        color: #37474F;
        margin-right: 10px;
        /* background-color: #64B5F6; */
    }
    #uiux .uiux_img .user_research p{
        display: inline-block;

    }

/* uiux section css end  */

/* about section css start  */
#about{
    background: linear-gradient(95.13deg, #FFCC00 -21.46%, #FAFFCB 112.13%);
    position: relative;
}
#about .about_img{
    width: 50%;
}
#about .about_img img{
    display: block;
    translate: -40px;
}
#about .about_text{
    width: 50%;
}
#about .about_text h2{
    font-family: var(--secoundry-ront);
    font-size: 50px;
    line-height: 65px;
    margin-top:50px;
    color: #353535;
}
#about .about_text p{
    font-size: 20px;
    color: #353535;
    margin: 35px 0 45px 0;
}
#about .about_text a{
    font-weight: 500;
    font-size: 18px;
    color: #353535;
    border: 1px solid var(--secoundry-color);
    border-radius: 15px;
    padding: 15px 35px;
    transition: .7s;
}
#about .about_text a:hover{
  background-color: var(--primary-color);
  color: #ffffff;
  border: 1px solid var(--primary-color);
}
#about .color_img{
    position: absolute;
    bottom: -8px;
    right: 50px;
}
/* about section css end  */

/* fun fact section css start  */
    #fun_fact{
        padding-top: 151px;
    }
    #fun_fact .fun_fact_item{
        transform: calc(100% / 3 - 30px);
        margin: 15px;
        padding: 40px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        text-align: center;
    }
    #fun_fact div.row{
        justify-content: space-between;
    }
    #fun_fact .fun_fact_item h4{
        font-weight: 600;
        font-size: 22px;
        line-height: 180%;
        color: var(--secoundry-color);
        padding: 14px 0;
    }
    #fun_fact .fun_fact_item p{
        font-size: 16px;
        line-height: 190%;
        color:#7A7A7A;
        width: 233px;
    }

/* fun fact section css end  */

/* branding section css start  */
    #brand{
        margin-top: 163px;
        background: linear-gradient(95.13deg, #FFCC00 -21.46%, #FFF5CB 112.13%);
        border-radius: 30px;
        position: relative;
        height: 475px;
    }
    #brand .row{
        height: 100%;
    }
    #brand .brand_img{
        width: 40%;
        height: 100%;
    }
    #brand .brand_img img{
        height: 100%;
        display: block;
    }
    #brand .brand_info{
        width: 60%;
        padding:95px 0 0 103px;
        
    }
    #brand .brand_info h2{
        font-size: 44px;
        line-height: 57px;
        color: var(--secoundry-color);
        text-transform: capitalize;
        margin-bottom: 21px;
    }
    #brand .brand_info p{
        font-size: 18px;
        line-height: 190%;
        color: var(--secoundry-color);
    }
    #brand .brand_info a{
        font-weight: 500;
        font-size: 17px;
        line-height: 180%;
        text-align: center;
        color: var(--secoundry-color);
        border: 1px solid #000000;
        border-radius: 20px;
        padding: 17px 38px;
    }
    #brand .brand_info a:hover{
        background: var(--primary-color);
        color: #ffffff;
        border: 1px solid var(--primary-color);
    }
    #brand .color_img{
        position: absolute;
        top: -35px;
        right: 60px;
    }
/* branding section css end  */

/* help section css start  */
    #help{
        padding-top: 163px;
    }
    #help .help_item{
        width: 40%;
        
    }
    #help .help_item .inner_item{
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        margin: 24px 0;
        text-align: center;
        width: 379px;
        height: 93px;
    }
    #help .help_item .inner_item .row{
        height: 100%;
        align-items: center;
    }
    #help .help_item .inner_item .help_icon_laptop{
        background: #55852F;
        margin-right: 20px;
       width: 40px;
       height: 40px;
       line-height: 40px;
        /* text-align: center; */
        border-radius: 50%;
        margin-left: 29px;
    }
    #help .help_item .inner_item .wd h5{
        color: var(--secoundry-color);
        font-weight: 600;
        font-size: 18px;
        line-height: 180%
  }
  #help .help_item .inner_item .wd p{
    color: var(--secoundry-color);
        font-weight: 500;
        font-size: 12px;
        line-height: 180%;
  }
  #help .help_item .inner_item .help_icon_mobile{
    background: var(--primary-color);
    margin-right: 20px;
   width: 40px;
   height: 40px;
   line-height: 40px;
    /* text-align: center; */
    border-radius: 50%;
    margin-left: 29px;
}
#help .help_item .inner_item .help_icon_brand-airbnb{
    background: #FF8D3A;
    margin-right: 20px;
   width: 40px;
   height: 40px;
   line-height: 40px;
    /* text-align: center; */
    border-radius: 50%;
    margin-left: 29px;
}
    #help .help_info{
        width: 60%;
    }
    #help .help_info h2{
        font-family: var(--secoundry-ront);
        color: var(--secoundry-color);
        font-size: 50px;
        line-height: 65px;
        text-align: right;
        margin-bottom: 44px;
    }
    #help .help_info p{
        font-size: 20px;
        line-height: 190%;
        text-align: right;
        color: var(--secoundry-color);
    }
    #help .help_info h5{
        font-family: var(--secoundry-ront);
        font-size: 40px;
        line-height: 52px;
        text-align: right;
        color: var(--secoundry-color);
    }
    #help .help_info .row{
        justify-content: end;
    }
    #help .help_info .hc150{
        margin-left: 68px;
    }
/* help section css end  */

/* my work section css start  */
    #mywork{
        padding: 100px 0;
    }
    #mywork .heading{
        color: var(--secoundry-color);
        font-family: var(--secoundry-ront);
        font-size: 50px;
        line-height: 65px;
        text-align: center;
        margin-bottom: 82px;
        
    }
    #mywork .mywork_period{
        width: 20%;
    }
   
    #mywork .mywork_item.row{
        justify-content: space-between;
        margin-bottom: 64px;
    }
    #mywork .mywork_item h3{
        font-weight: 600;
        font-size: 24px;
        line-height: 180%;
        color: var(--secoundry-color);
        padding-bottom: 15px;
    }
    #mywork .mywork_item small{
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        color: var(--third-color);
    }
    #mywork .mywork_item p{
        font-size: 18px;
        line-height: 200.5%;
        color: var(--third-color);
    }
    #mywork .mywork_item_container{
        position: relative;
    }
    #mywork .mywork_item_container::after{
        position: absolute;
        content: '';
        height: 602px;
        border: 1px dashed #7A7A7A;
        top: 138px;
        left: 320px;
    }
    #mywork .mywork_info{
        width: 60%;
        position: relative;
    }
    #mywork .mywork_info::after{
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background-color: #52AB70;
        top: -19px;
        left: -133px;
        border-radius: 50%;
        z-index: 1;
    }
    #mywork .mywork_info.uiux::after{
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background-color: #F17676;
        top: -19px;
        left: -133px;
        border-radius: 50%;
        z-index: 1;
    }
    #mywork .mywork_info.sr_pd::after{
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background-color: #FFD233;
        top: -19px;
        left: -133px;
        border-radius: 50%;
        z-index: 1;
    }
    #mywork .mywork_info::before{
        position: absolute;
        content: '';
        width: 42px;
        height: 42px;
        background-color: #ffffff;
        border: 2px dashed #7A7A7A;
        top: -31px;
        left: -145px;
        border-radius: 50%;
        z-index: 1;
    }

/* my work section css end  */

/* expert section css start  */
#expert{
    padding-bottom: 140px;
}
    #expert .expert_info{
        width: 50%;
    }
    #expert .expert_info h2{
        font-family: var(--secoundry-ront);
        color: var(--secoundry-color);
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 49px;
    }
    #expert .expert_info p{
        color: var(--third-color);
        font-size: 20px;
        line-height: 200%;
        margin-bottom: 65px;
    }
    #expert .expert_info a{
        display:inline-block;
        margin-right: 35px;
        border: 1px solid #000000;
        padding: 15px 40px;
        color: var(--secoundry-color);
        border-radius: 10px;
        transition: .7s;
    }
    #expert .expert_info a:hover{
        background-color: var(--primary-color);
        border: 1px solid #0D99FF;
        color: #ffffff;
    }
    #expert .expert_item{
        width: 50%;
    }
    #expert .expert_item .heading{
        padding-left: 89px;
        align-items: center
        

    }
    #expert .expert_item a{
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        color: var(--secoundry-color);
        /* margin: 0 40px; */
    }
    #expert .expert_item .skill a{
        display: inline-block;
        padding: 16px 64px;
        border: 1px solid #000000;
        margin:0 40px 0 30px;
        transition: .7s;
        border-radius: 10px;
    }
    #expert .expert_item .skill:hover a{
        background-color: var(--primary-color);
        border: 1px solid #0D99FF;
        color: #ffffff;
    }
    #expert .expert_item .education a{
        display: inline-block;
        padding: 16px 64px;
        border: 1px solid #000000;
        transition: .7s;
        border-radius: 10px;
    }
    #expert .expert_item .education:hover a{
        background-color: var(--primary-color);
        border: 1px solid #0D99FF;
        color: #ffffff;
    }
    #expert .skill_item{
        padding: 62px 0 0 125px;
    }
    #expert .skill_item .skill_inner_item{
        margin-bottom: 50px;
    }
    #expert .skill_item .skill_info p{
        margin-bottom: 16px;
    }
    #expert .skill_item .skill_bar{
        width: 100%;
        height: 10px;
        background-color: #d9d9d9;
        border-radius: 5px;
       
    }
    #expert .skill_item .skill_bar .track{
        position: relative;
    }
    #expert .skill_item .figma .skill_bar .track{
        width: 85%;
        height: 10px;
        background-color: #F16500;
        border-radius: 5px;
    }
    #expert .skill_item .Photoshop .skill_bar .track{
        width: 75%;
        height: 10px;
        background-color: #03249B;
        border-radius: 5px;
    }
    #expert .skill_item .Photoshop .skill_bar .track span{
        color:#03249B ;
    }
    #expert .skill_item .xd .skill_bar .track{
        width: 85%;
        height: 10px;
        background-color: #700D60;
        border-radius: 5px;
    }
    #expert .skill_item .xd .skill_bar .track span{
        color:#700D60 ;
    }
    #expert .skill_item .illustrator .skill_bar .track{
        width: 85%;
        height: 10px;
        background-color: #234BDA;
        border-radius: 5px;
        
    }
    #expert .skill_item .illustrator .skill_bar .track span{
        color:#234BDA;
    }
    #expert .skill_item .skill_bar .track span{
        position: absolute;
        color: #F16500;
        top: -36px;
        right:0px;
    }
/* expert section css end  */

/* service section css start  */
    #service{
        padding: 87px 0;
        background: #FFF7D5;
    }
    #service .heading{
        text-align: center;
    }
   #service .heading h2{
    font-size: 50px;
    line-height: 65px;
    /* text-align: center; */
    color: var(--secoundry-color);
    margin-bottom: 25px;
   }
    #service .heading p{
        font-size: 18px;
        line-height: 180%;
        color: var(--third-color);
        width: 576px;
        margin: auto;
        margin-bottom: 78px;
    }
    #service .service_item{
        transform: calc(100% / 3 - 35px);
        margin: 0 15px;
        background-color: #FFFFFF;
        border: 1px solid #FFF7D5;
        border-radius: 10px;
        transition: .7s;
        margin: auto;
    }
    #service .service_item:hover{
        background: linear-gradient(158.91deg, #FFCC00 3.12%, #FFE476 94.59%);
        border: 0.1px solid #353535;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
    }
    #service .row{
        /* justify-content: space-between; */
        text-align: center;
    }
    #service .service_item p{
        width: 253px;
    }
    #service .service_item .service_img{
        width: 100%;
        margin-bottom: 20px;
    }
    #service .service_item .service_info h4{
        font-weight: 600;
        font-size: 24px;
        line-height: 180%;
        color: var(--secoundry-color);
        margin-bottom: 25px;
    }
    #service .service_item .service_info p{
        font-size: 15px;
        line-height: 180%;
        color: var(--third-color);
        padding-bottom: 76px;
        
    }
/* service section css end  */

/* feedback section css start  */
    #feedback{
        padding: 108px 0;
        background: #FBFBFB;
    }
    #feedback .heading h2{
        font-size: 50px;
        line-height: 135.4%;
        color: var(--secoundry-color);
        margin-bottom: 36px;
    }
    #feedback .row{
        align-items: center;
    }
    #feedback .heading p{
        font-size: 18px;
        line-height: 180%;
        color: var(--third-color);
        width: 670px;
        margin-bottom: 68px;
    }

    #feedback .feedback_img{
        width: 40%;
        
    }
    #feedback .feedback_info{
        width: 60%;
        padding-left: 62px;
    }
    #feedback .feedback_info > p{
        font-size: 20px;
        line-height: 200%;
        color: var(--third-color);
        margin-bottom: 56px;
    }
    #feedback .feedback_info .identy h4{
        font-weight: 500;
        font-size: 24px;
        line-height: 200%;
        color: var(--secoundry-color);
        padding-left: 48px;
        margin-bottom: 20px
    }
    #feedback .feedback_info .identy p{
        font-size: 16px;
        line-height: 200%;
        color: var(--third-color);
        padding-left: 48px;
    }
/* feedback section css end  */

/* blog section css start  */
    #blog{
        padding: 78px 0;
        background: #F5F5F5;
    }
    #blog .heading h2{
        font-size: 50px;
        line-height: 135.4%;
        color: var(--secoundry-color);
        text-align: right;
        margin-bottom: 116px;
    }
    #blog .blog_item{
        width: calc(100% / 2 - 30px);
        margin: 15px 15px;
        background-color: #F5F5F5;
    }
    #blog .blog_item .blog_item_info{
        width: 260px;
        padding:10px 0 0 34px;
    }
    #blog .blog_item .blog_item_info p{
        display: inline-block;
        font-size: 14px;
        line-height: 190%;
        color: var(--third-color);
        padding: 0 25px 0 7px;
    }
    #blog .blog_item .blog_item_info strong{
        font-weight: 500;
        font-size: 14px;
        color: var(--secoundry-color);
        line-height: 190%
    }
    #blog .blog_item .blog_item_info  h4{
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: var(--secoundry-color);
        margin: 29px 0 65px 0;
    }
    #blog .blog_item .blog_item_info a{
        font-weight: 500;
        font-size: 18px;
        line-height: 190%;
        color: var(--secoundry-color);
        margin-right: 5px;
    }
   
/* blog section css end  */

/* newslatter section css start  */
    #newslatter{
        background: linear-gradient(95.13deg, #FFCC00 -21.46%, #FFF5CB 112.13%);
        border-radius: 30px;
        height: 295px;
        margin-bottom: 154px;
    }
    #newslatter .row{
        align-items: center;
    }
    #newslatter  .newslatter_info{
        padding: 98px 0 0 76px;
    }
    #newslatter .newslatter_info p:nth-child(1n){
        font-size: 20px;
        line-height: 200%;
        color: var(--secoundry-color);
    }
    #newslatter .newslatter_info h2{
        font-weight: 600;
        font-size: 36px;
        line-height: 200%;
        color: var(--secoundry-color);
    }
    #newslatter .newslatter_info p:nth-child(2n){
        font-size: 18px;
        line-height: 200%;
        color: var(--secoundry-color);
    }
    #newslatter .newslatter_src{
        padding:80px 0 0 40px;
    }
    #newslatter .newslatter_src input{
        padding: 25px 50px;
        border: none;
        border-radius: 20px 0 0 20px;
    }
    #newslatter .newslatter_src button{
        padding: 17px;
        border: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 200%;
        color: #FFFFFF;
        background-color: #FF6565;
        border-radius: 0 20px 20px 0;
    }
/* newslatter section css end  */

/* footer section css start  */
    footer{
        background-color: #575757;
        padding: 88px 0;
    }
    footer .contant .row{
        justify-content: space-between;
    }
    footer .contant_info{
        width: 410px;
       
    }
    footer .contant_info h2{
        font-size: 36px;
        line-height: 200%;
        font-family: var(--secoundry-ront);
        color: #ffffff;
    }
    footer .contant_info p{
        font-size: 16px;
        line-height: 180%;
        color: #BBB9B9;
    }
    footer .talk a{
        display:inline-block;
        margin-right: 35px;
        border: 1px solid #dddddd;
        padding: 15px 40px;
        color: var(--secoundry-color);
        border-radius: 10px;
        transition: .7s;
        /* text-align: center; */
        margin: auto;
        color: #ffffff;
    }
    footer .talk{
        position: relative;

    }
    footer .talk .talk_shape{
        position: absolute;
        bottom: 74px;
        right: -86px;
    }
    footer .talk a:hover{
        background-color: var(--primary-color);
        border: 1px solid #0D99FF;
        color: #ffffff;
    }
    footer .contant{
        padding-bottom: 94px;
    }
    footer .contact_info .row{
      justify-content: space-between;
    }
    footer .contact_info p{
        font-size: 18px;
        line-height: 180%;
        text-align: justify;
        color: #BBB9B9;
    }
    footer .contact_info a{
        color: #ffffff;
    }
    footer .contact_info .fm p{
        color: #ffffff;
        margin-right: 25px;
    }
    footer .contact_info .fm .fm_icon ul li a{
        display: block;
        text-align: center;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color:#484848;
        border-radius: 50%;
        transition: .7s;
    }
    footer .contact_info .fm .fm_icon ul li a:hover{
        background-color: var(--primary-color);
        color: #ffffff;
    }
    footer .contant .contant_img{
        position: relative;
    }
    footer .contant .contant_img .img_shape{
        position: absolute;
        bottom: 43px;
        left: -68px;
    }
    footer .contact_info .call_info{
        position: relative;
    }
    footer .contact_info .call_info .call_info_shape{
        position: absolute;
        top: -32px;
        left: -132px;
    }
/* footer section css end  */




/* ABOUT PAGE START  */
 
/* about section css start  */
    #about{
        margin-top: 60px;
        background: linear-gradient(0deg, rgba(255, 204, 0, 0.66), rgba(255, 204, 0, 0.66)), url(5447586.jpg);
        border-radius: 20px;
        position: relative;
    }
    #about .about_shape{
        position: absolute;
        top: -10px;
        right: 233px;
    }

    #about .heading .about_me h1{
        font-size: 46px;
        line-height: 60px;
        font-family: var(--secoundry-ront);
        color: #ffffff;
        text-align: center;
        padding-top: 30px;
    }
    #about .heading .about_me{
        position: relative;
    }
    #about .heading .about_me .about_shape1{
        position: absolute;
        top: 21px;
        left: 454px;
    }
    #about .heading .about_me .about_shape2{
        position: absolute;
        bottom: 4px;
        left: 168px;
    }
    #about .heading .pra p{
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #ffffff;
        text-align: center;
        padding-bottom: 43px;
    }
    #about .heading .pra{
        position: relative;
    }
    #about .heading .pra .pra_left_shape{
        position: absolute;
        bottom: 50px;
        left: 254px;
    }
    #about .heading .pra .pra_right_shape{
        position: absolute;
        bottom: 50px;
        right: 254px;
    }
/* about section css end  */

/* about cv section css start  */
    #about_cv{
        padding: 80px 0;
        
    }
    
    #about_cv .about_cv_img{
        width: 35%;
    }
    #about_cv .about_cv_info{
        width: 65%;
        padding-left: 65px;
   }
    
    #about_cv .about_cv_info p{
        font-size: 19px;
        line-height: 200%;
        color: var(--third-color);
        margin-bottom: 120px;
    }
    #about_cv .about_cv_info .personal_info{
       margin-right: 65px;
    }
    #about_cv .about_cv_info .personal_info span{
        font-size: 19px;
        line-height: 190%;
        color: var(--third-color);
        margin-right: 22px;
    }
    #about_cv .about_cv_info .personal_info .download a{
        display: block;
        margin-top: 55px;
        border: 1px solid #000000;
        padding: 15px 40px;
        color: var(--secoundry-color);
        border-radius: 10px;
        transition: .7s;
    }
    #about_cv .about_cv_info .personal_info .download a:hover{
        background-color: var(--primary-color);
        border: 1px solid #0D99FF;
        color: #ffffff;
    }

/* about cv section css end  */

/* <!-- Experience & Education section css start  --> */
#education{
    padding: 86px 0;
}


/* <!-- Experience & Education section css end  --> */


/* skill section css start  */
#skill{
    padding-bottom: 100px;
}
    #skill .heading h2{
        font-size: 40px;
        line-height: 52px;
        font-family: var(--secoundry-ront);
        color: var(--secoundry-color);
        margin-bottom: 68px;
    }
    #skill .skill_item{
        width: 362px;
        margin-bottom: 58px;
    }
    #skill .skill_item .skill_info p{
        margin-bottom: 16px;
    }
    #skill .skill_item .skill_bar{
        width: 100%;
        height: 4px;
        background-color: #d9d9d9;
        border-radius: 5px;
       
    }
    #skill .skill_item .skill_bar .track{
        position: relative;
    }
    #skill .skill_item .figma .skill_bar .track{
        width: 95%;
        height: 4px;
        background-color: #F16500;
        border-radius: 5px;
    }
    #skill .skill_item .skill_bar .track{
        position: relative;
    }
    #skill .skill_item .skill_bar .track span{
        position: absolute;
        color: #F16500;
        top: -36px;
        right:0px;
    }
    #skill .skill_item .xd .skill_bar .track{
        width: 80%;
        height: 4px;
        background-color: #700D60;
        border-radius: 5px;
    }
    #skill .skill_item .xd .skill_bar .track span{
        color:#700D60 ;
    }
    #skill .skill_item .illustrator .skill_bar .track{
        width: 85%;
        height: 4px;
        background-color: #234BDA;
        border-radius: 5px;
        
    }
    #skill .skill_item .illustrator .skill_bar .track span{
        color:#234BDA;
    }
    #skill .skill_item .Photoshop .skill_bar .track{
        width: 95%;
        height: 4px;
        background-color: #03249B;
        border-radius: 5px;
    }
    #skill .skill_item .Photoshop .skill_bar .track span{
        color:#03249B ;
    }
    
/* skill section css end  */

/* ABOUT PAGE END */


/* PROJECTS PAGE START  */

    /* project section css start  */
    #about .heading .about_me{
        position: relative;
    }
    #about .heading .about_me .project_shape1{
        position: absolute;
        top: 21px;
        left: 472px;
    }
    /* project section css end  */
    #design{
        padding-top: 95px;

    }
    #design .menu{
        padding-bottom: 61px;
    }
   
    
    #design .menu ul li a{
        display:block;
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        color: var(--secoundry-color);
        padding: 24px 50px;
        margin: 0 5px;
        border-radius: 20px;
        border: 1px solid transparent;
        /* transition: .7s; */
    }
    #design .menu ul li a:hover{
        /* background-color: var(--primary-color); */
        color: #000000;
        border:1px solid #000000;
    }
    #image{
        padding-bottom: 130px;
    }
    #image .image_item{
        width:calc(100% / 2 - 30px);
        margin: 40px 15px;
    }
    #image .image_item .porject_img .img_info p{
        font-size: 15px;
        line-height: 22px;
        text-decoration-line: underline;
        color: var(--third-color);
    }
    #image .image_item .porject_img .img_info h4{
        font-weight: 600;
        color: var(--secoundry-color);
        font-size: 24px;
        line-height: 36px
        
    }
/* PROJECTS PAGE END  */


/* BLOG PAGE START  */
    
/* blog section css start  */
#about{
   margin-bottom: 70px; 
}
#about .heading .about_me{
    position: relative;
}
#about .heading .about_me .blog_shape1{
    position: absolute;
    top: 21px;
    left: 494px;
}

/* blog section css end  */

/* imgage section css start  */
    #blog_img{
        padding-bottom: 109px;
    }
    #blog_img .image{
        width: 40%;
    }
    #blog_img .text{
        width: 60%;
        padding-left: 50px;
    }
    #blog_img .text h4{
        font-weight: 600;
        font-size: 30px;
        line-height: 164.5%;
        color: var(--secoundry-color);
    }
    #blog_img .text p{
        font-size: 18px;
        line-height: 200.5%;
        color: var(--third-color);
        width: 525px;
    }
    #blog_img .text .date p{
        display: inline-block;
        margin-left: 15px;
    }
    #blog_img .text .date strong{
        font-weight: 500;
        font-size: 18px;
        line-height: 190%;
        color: #353535;
        margin-left: 15px;
    }
/* imgage section css end  */

/* third section css start  */
    #third_sec{
        padding-bottom: 130px;
    }
    #third_sec .images_item{
        width: calc(100% / 3 - 30px);
        margin:20px 15px;
    }
    #third_sec .images_item .images_info h4{
        font-weight: 600;
        font-size: 20px;
        line-height: 190%;
        color: var(--secoundry-color);
    }
    #third_sec .images_item .images_info p{
        display: inline-block;
        font-size: 16px;
        line-height: 200.5%;
        color: var(--third-color);
        margin-bottom: 30px;
    }
    #third_sec .images_item .images_info .date p{
        margin-left: 10px;
    }
    #third_sec .images_item .images_info .date strong{
        margin-left: 20px;
        color: var(--secoundry-color);
    }
   
/* third section css end  */

/* BLOG PAGE END  */

/* CONTACT PAGE START  */
    
/* contact section css start  */
#about .heading .about_me .contact_shape1{
    position: absolute;
    top: 22px;
    left: 469px;
}
/* contact section css end  */

/* contact_sec section start  */
#contact_sec{
    padding-bottom: 119px;
}
    #contact_sec .from_item .from_info{
        margin-bottom: 50px;
    }
    #contact_sec .from_item .from_info .location_icon span{
        display: inline-block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        color: #F16500;
        background-color: #FFEBDC;
        margin-right: 45px;
    }
    #contact_sec .from_item .from_info .mail_icon span{
        display: inline-block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        color: #55852F;
        background-color: #F0FFE4;
        margin-right: 45px;
    }
    #contact_sec .from_item .from_info .phone_icon span{
        display: inline-block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        color: #234BDA;
        background-color: #EEF2FF;
        margin-right: 45px;
    }
    #contact_sec .from_item .from_info .info h4{
        font-weight: 500;
        font-size: 24px;
        line-height: 190%;
        color: var(--secoundry-color);
    }
    #contact_sec .from_item .from_info .info p{
        font-size: 17px;
        line-height: 190%;
        color: var(--third-color);
    }

    #contact_sec .from_item .from_info .info a{
        font-size: 17px;
        line-height: 190%;
        color: var(--third-color);
    }
    #contact_sec .from_item2{
        margin-left: 185px;
    }
    #contact_sec .from_item2 .from_field input{
        padding:35px 90px 0 0;
        /* border-radius: 10px; */
        margin: 0 10px 10px 0;
    }
    #contact_sec .from_item2 .from_field textarea{
       width: 484px;
       height: 190px;
       resize: none;
       text-align: center;
       margin-bottom: 20px;
    }
    #contact_sec .from_item2 .from_field button{
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        text-align: center;
        padding: 20px 46px;
        color: #ffffff;
        background-color: var(--primary-color);
        border-radius: 20px;
        transition: .7s;
  }
  #contact_sec .from_item2 .from_field button:hover{
    background-color: var(--secoundry-color);
  }
/* contact_sec section end  */

/* CONTACT PAGE END  */



